.navbar-collapse{
    font-size: 1.5em;
    
}
.navbar{
    background-color: black;
}
body{
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.area-content{
    padding-top: 300px;
}
.logo{
    color: white;
    font-family: 'Lobster', cursive;
}
h1{
    font-family: 'Bowlby One SC', cursive;
    
}
nav{
    font-family: 'Open Sans Condensed', sans-serif;
    
}
.hero-area{
    padding-bottom:30px;
    /* position: absolute; */
}
.hero-area img{
    height:85%;
    width:25%;
    /* vertical-align: middle; */
    /* bottom: 10; */
    /* margin-right: 0; */
    right: 7.5%;
    position: rela;
    /* max-height: 500px; */
    
}
.hero-image{
    margin-right: 0;
    /* opacity: var(--opacity); */
    
    
    
}
#justme{
    /* height: 60%; */
    position: absolute;
    margin-top: 90px;
    overflow: auto;
    bottom: 40;
    right: 0;
    /* transform: translateX(var(--translateX)); */
    /* will-change: transform; */
}

.social-links{
    padding-top:190px;
    bottom:0;
}
.typed-cursor {
    opacity: 1;
    animation: blink .7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#aboutme{
    height: 1000px;
    padding:50px;
    background-color: white;
    color: black;
    z-index: 100;
}
#aboutimage{
    margin: auto;
    display: block;
    padding-left: 40px;
    transform: translateX(var(--translateX));
    will-change: transform;
    
}
.scene {
    position: absolute;
    /* display: block; */
    
    bottom: 0;
	width: 100%;
	transform: translateY(var(--translateY));
    will-change: transform;
    overflow: hidden;
}
#paraimg1{
    vertical-align: bottom;
}
/* #paraimg2{
    bottom: 10
} */
.div-wrapper{
    height: 1000px;
    width: 100%;
    position: relative
    
}
#projects{
    height: 330px;
    z-index: 200;
    background-color: white;
    position: relative;
    color: black;
}


/* 

font-family: 'Montserrat', sans-serif;


 */